<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisper</title>
</head>
<body>
    <h1>Upload the file you want to transcribe</h1>
    <form method="post" action="/" enctype="multipart/form-data">
        <input type="file" name="audiofile" accept="audio/*" >
        <input type="submit" value="Upload file"  >
    </form>
    <hr>
    <h1>Transcript</h1>
    <p>
        {{transcript}}
    </p>
</body>
</html>